/* =====================================================================================================================
            MAIN
===================================================================================================================== */

/* ---------------------------------------------------------------------------------------------------------------------
            main > backgrounds
--------------------------------------------------------------------------------------------------------------------- */

.b-body-bg-img {
    background: none;
}

/* ---------------------------------------------------------------------------------------------------------------------
            main > new blocks
--------------------------------------------------------------------------------------------------------------------- */

.g-new-block {
    padding-left: 15px;
    padding-right: 15px;
}

.b-advert {
    overflow: hidden;
}

@media (max-width: 350px) {
    .b-advert {
        display: none;
    }
}

/* ------------ newhunters ---------------------- */

.b-adv-row {
    padding-left: 20px;
    padding-right: 20px;
}

.b-adv-row div {
    width: 100%;
}

.b-adv {
    width: 100%;
    margin-bottom: 15px;
}

/* 1.375 by width - 0.72  */
.b-adv__image {
    width: 100%;
    height: 100%;

    /* соотношение 400px / 550px * 100 */
    padding-top: 72.72%;
}

/* ---------------------------------------------------------------------------------------------------------------------
            main > wrap
--------------------------------------------------------------------------------------------------------------------- */

.b-wrap {
    margin-bottom: 0;

    width: auto;
    /*max-width: 939px;*/
    /*min-width: 240px;*/
    max-width: 575px;
    min-width: 320px;
}

.b-wrap__header {
    padding: 0;
}

.b-wrap__content {
    /*margin: 1.5em 0;*/
}

.b-wrap__footer {
    padding: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            main > news swipe effect
--------------------------------------------------------------------------------------------------------------------- */

.b-page-shadow-left {
    position: fixed;
    opacity: 0;
    width: 1px;
    height: 100%;
    left: -1px;
    top: 0;
    background-color: #0190D4;
    -webkit-box-shadow: 0 0 75px 5px #0190D4;
    box-shadow: 0 0 75px 5px #0190D4;
}

.b-page-shadow-right {
    position: fixed;
    opacity: 0;
    width: 1px;
    height: 100%;
    right: -1px;
    top: 0;
    background-color: #0190D4;
    -webkit-box-shadow: 0 0 75px 5px #0190D4;
    box-shadow: 0 0 75px 5px #0190D4;
}

/* =====================================================================================================================
            HEADER
===================================================================================================================== */

/* ---------------------------------------------------------------------------------------------------------------------
            header > menu
--------------------------------------------------------------------------------------------------------------------- */

.b-header {
    padding: 15px;
}

.b-header-menu-btn {
    font-size: 2em;
    cursor: pointer;
    padding-left: 15px;
}

.b-header-menu-btn .fa {
    color: #aaa;

    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.b-header-menu-btn .fa:hover {
    color: #0190D4;
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > menu > dropdown
--------------------------------------------------------------------------------------------------------------------- */

.b-header-menu-dropdown {
    padding: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > menu > dropdown > links
--------------------------------------------------------------------------------------------------------------------- */

.b-header-menu-dropdown__links {
    font-weight: bold;
}

.b-header-menu-dropdown__links ul {
    padding-left: 0;
}

.b-header-menu-dropdown__links li {
    list-style-type: none;
}

.b-header-menu-dropdown__links li:not(:last-child) {
    padding-bottom: 10px;
}

.b-header-menu-dropdown__links a {
    /* элем. врем. эфф. задерж.*/
    -webkit-transition: all 0.2s ease 0.1s;
    -o-transition:  all 0.2s ease 0.1s;
    transition:  all 0.2s ease 0.1s;

    color: #0190D4;
}

.b-header-menu-dropdown__links a:hover {
    color: #fff;
    text-shadow: 0 0 4px #444;
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > socials
--------------------------------------------------------------------------------------------------------------------- */

.b-header-socials-m {
    font-size: 2em;
    margin-bottom: 15px;
    padding: 10px 15px;
    background: #eeeeee;
    text-align: center;
}

.b-header-socials-m .fa-facebook-square {
    color: #3B5998;
}

.b-header-socials-m .fa-twitter {
    color: #1EA1F3;
}

.b-header-socials-m .fa-vk {
    color: #507299;
}

.b-header-socials-m .fa-odnoklassniki-square {
    color: #EE8208;
}

.b-header-socials-m .fa-instagram {
    color: #E0316A;
}

.b-header-socials-m .fa-telegram {
    color: #38AEEB;
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > weather
--------------------------------------------------------------------------------------------------------------------- */

/*.b-weather {*/

/*}*/

/*.b-weather__title {*/
    /*font-size: 13px;*/
    /*color: #555555;*/
/*}*/

.b-weather__info {
    margin-top: 0;
    margin-bottom: -3px;
}

.b-weather__img img {
    width: 45px;
    height: 45px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > probki
--------------------------------------------------------------------------------------------------------------------- */

.b-probki {
    margin-top: 18px;
}

@media (max-width: 1160px) {
    .b-probki {
        display: inline;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
            header > currency
--------------------------------------------------------------------------------------------------------------------- */

.b-currency {
    font-size: 0.95em;
    /*margin: 20px 0 0;*/
    line-height: 1.5;
}

.b-currency span {
    white-space: nowrap;
}

@media (max-width: 1162px) {
    .b-currency {
        display: inline-block;
    }
}

/* =====================================================================================================================
            HOME
===================================================================================================================== */

/* ---------------------------------------------------------------------------------------------------------------------
            home > slider
--------------------------------------------------------------------------------------------------------------------- */

.b-slider {
    height: 250px;
    margin-bottom: 20px;
}

.b-slider-big__overlay {
    padding: 10px;
    font-size: 0.8em;
}

.b-slider-big__overlay h3 {
    font-size: 1.4em;
}

/* ---------------------------------------------------------------------------------------------------------------------
            home > news feed
--------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------
            home > voting poll
--------------------------------------------------------------------------------------------------------------------- */

.b-voting-poll {
    max-height: none;
    overflow-y: visible;
}


/* ---------------------------------------------------------------------------------------------------------------------
            home > news feed
--------------------------------------------------------------------------------------------------------------------- */

.b-news-feed-home {
    padding: 10px 5px;
    margin-bottom: 3px;
    border-right: 1px solid #fff;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.b-news-feed-home__date {
    padding-bottom: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            home > interview
--------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------
            interview (category)
--------------------------------------------------------------------------------------------------------------------- */

.b-interview-item__image {
    width: 100px;
    height: 100px;
}

.b-interview__area {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 575px) {
    .b-interview-item__image--hide {
        display: none;
    }

    .b-interview-item__subtitle {
        display: none;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
            opinion (category)
--------------------------------------------------------------------------------------------------------------------- */

.b-opinion {
    margin-left: -10px;
    margin-right: -10px;
}

.b-opinion:before {
    border-width: 0 14px 14px 0;
}

.b-opinion__image {
    padding-left: 0;
}

.b-opinion__image img {
    position: relative;
    /*width: auto;*/
    max-height: 200px;
    margin-bottom: 0;
}

.b-opinion-articles {
    padding-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            home > cards (carousel)
--------------------------------------------------------------------------------------------------------------------- */

.b-cards img {
    height: 350px;
}

.b-cards__text {
    padding: 10px 15px;
    font-size: 1.3em;
}

.b-cards__subtitle {
    font-size: 0.8em;
}

/* ---------------------------------------------------------------------------------------------------------------------
            home > region home
--------------------------------------------------------------------------------------------------------------------- */

.b-region-home {
    font-size: 0.9em;

    margin-bottom: 20px;
}

.b-region-home__img {
    height: 220px; /* стандартизированная высота блока с картинкой */
}

.b-region-home__text {
    padding: 10px;
}

.b-tests__date,
.b-region-home__date {
    padding: 0 10px 10px 10px;
    font-size: .9em;
}

/* ---------------------------------------------------------------------------------------------------------------------
            home > tests
--------------------------------------------------------------------------------------------------------------------- */

.b-tests {
    height: auto;
}

/* =====================================================================================================================
            ARTICLE
===================================================================================================================== */

.b-article-content table {
    width: 100% !important;
}

/* цитаты */
blockquote:not(.horizontal-inject) {
    padding: 10px 10px 0;
    border-left: 31px solid #DFDEDE;
}
blockquote:not(.horizontal-inject):before {
    font-size: 40px;
    left: -25px;
    top: 5px;
}
blockquote:not(.horizontal-inject) p {
    font-size: 16px;
    padding-bottom: 10px;
}

/* вертикальные разделители (инжекты | inject) */
.horizontal-inject {
    padding: 10px 12px 0;
    font-size: 1.15em;
}

.b-article-photo-overlay--small {
    bottom: 0;
}

.b-h-title--home {
    margin-bottom: 10px;
    font-size: 1.4em;
}

/* ---------------------------------------------------------------------------------------------------------------------
            article > image patterns    (фото в теле статей)
--------------------------------------------------------------------------------------------------------------------- */

.imagePattern_half-left,
.imagePattern_half-right {
    float: none;
    /*display: block;*/
    /*width: 100%;*/
    /*max-width: 350px !important;*/
    margin: 5px 0 10px 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
            article > prev & next articles
--------------------------------------------------------------------------------------------------------------------- */

.b-prev-next-article {
    font-size: 0.85em;
    padding: 10px 15px;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            article > video
--------------------------------------------------------------------------------------------------------------------- */

.b-video-m {
    overflow: hidden;
    position: relative;
}

/* =====================================================================================================================
            PARTNERS
===================================================================================================================== */

.b-partners-news {

}

.b-partners-news__title {
    padding-left: 15px;
}

/* smi24 */

.smiteaser-row10276,
.smiteaser-row11670 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media (max-width: 560px) {
    .smiteaser-container10276,
    .smiteaser-container11670 {
        width: 100% !important;
    }
}

/* =====================================================================================================================
            FOOTER
===================================================================================================================== */

/* ---------------------------------------------------------------------------------------------------------------------
            footer > fa icons
--------------------------------------------------------------------------------------------------------------------- */

.b-footer-socials {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.b-footer-socials .fa-facebook-square {
    color: #3B5998;
}

.b-footer-socials .fa-twitter {
    color: #4099FF;
}

.b-footer-socials .fa-vk {
    color: #507299;
}

.b-footer-socials .fa-odnoklassniki-square {
    color: #EE8208;
}

.b-footer-socials .fa-instagram {
    color: #E0316A;
}

.b-footer-socials .fa-telegram {
    color: #38AEEB;
}

/* ---------------------------------------------------------------------------------------------------------------------
            footer > bottom
--------------------------------------------------------------------------------------------------------------------- */

.b-footer__bottom {
    padding-top: 0;
}

.b-footer__bottom > div {
    padding-top: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            footer > to top
--------------------------------------------------------------------------------------------------------------------- */

.btn-to-top {
    bottom: 15px;
    right: 15px;
    left: auto;
    padding: 5px 7px;
    opacity: 0.3;
}

/* =====================================================================================================================
            REGION
===================================================================================================================== */

.b-region-region:nth-child(n+2) {
    font-size: 0.9em;
    margin-top: 30px;
}


/* =====================================================================================================================
            COMMENTS
===================================================================================================================== */

.new-comment-name {
    width: 100%;
}

.b-comments__policy {
    padding: 0 0 10px;
}

.b-project__body img {
     width: 100%;
     max-width: 400px;
     margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
            DISCOUNTS
--------------------------------------------------------------------------------------------------------------------- */

/* left */

.b-discount-company__name {
    font-size: 22px;
}

.b-discount-company__description {
    font-size: 13px;
}

.b-discount-company__logo {
    width: 100px;
    padding: 7px;
    border-radius: 5px;
}

/* right */

.b-discount-list__image {
    width: 50px;
    height: 40px;
    margin-right: 8px;
}

.b-discount-list__title {
    font-size: 17px;
}

.b-discount-list__subtitle {
    font-size: 11px;
}

.b-discount-list__price {
    font-size: 20px;
}

.b-discount-rub {
    font-size: 16px;
}
